# environment
venv/*

# misc
misc

*.cpp

a.out
*.out

snapshots/*
snapshots_pickles/*

*.pyc

core/__pycache__
utils/__pycache__
generators/__pycache__

tmp
init

results/report/*_snapshot/*
results/report/*.zip